/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: "Cairo", sans-serif;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* Start componanet */
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}




.main-header{
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:default;
    z-index: 2;
    transition: var(--main-transition);
}
.main-header:hover{
    transition-delay: .5s;
    color: white;
    border-color: white;
}
.main-header::after,
.main-header::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: -1;
}
.main-header::before{
    right: -50px;
}
.main-header::after{
    left: -50px;
}


.main-header:hover::before{
    animation: move-left .5s linear forwards;
}
@keyframes move-left{
    50%{
        width: 15px;
        height: 15px;
        right: 0px;
        
    }
    100%{
        border-radius: 0%;
        width: calc(50% + 1px);
        right: 0px;
        height: calc(100% + 2px);
    }
}


.main-header:hover::after{
    animation: move-right .5s linear forwards;
}
@keyframes move-right{
    50%{
        width: 15px;
        height: 15px;
        left: 0px;
        
    }
    100%{
        border-radius: 0%;
        width: 50%;
        left: 0px;
        height: calc(100% + 2px);
    }
}
/* ENd componanet */

/* Start Heading */
header{
    background-color: white;
}
header .container{
    display: flex;
    justify-content: space-between;
    position: relative;
}
@media (max-width: 767px){
    header .container{
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgb(223, 223, 223);
    }
}
header .container h2{
    margin: 0px;
    font-size: 40px;
    color: var(--main-color);
    margin: auto 0px;
}
@media (max-width: 767px){
    header .container h2{
        margin-top: 15px;
    }
}
header .container .main-nav{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}
header .container .main-nav li .main-links{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    text-decoration: none;
    transition: var(--main-transition);
}
@media (max-width: 767px){
    header .container .main-nav li .main-links{
        height: 40px;
        margin-top: 15px;
        padding: 0px 10px;
        font-size: 15px;
    }
}
header .container .main-nav li .main-links:hover{
    background-color: #f8f8f8;
    color: var(--main-color);
}
header .container .main-nav li .main-links::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 5px;
    background-color: var(--main-color);
    left: 0;
    top: 0;
    transition: var(--main-transition);
}
@media (max-width: 767px){
    header .container .main-nav li .main-links::before{
        height: 3px;
    }
}

header .container .main-nav li .main-links:hover::before{
    width: 100%;
}





.mega-menu{
    position: absolute;
    width: 100%;
    top: calc(100% + 70px);
    left: 0;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 3px solid var(--main-color);
    opacity: 0;
    z-index: -123;
    background-color: white;
    transition: var(--main-transition)
}

header .container .main-nav li:last-child:hover .mega-menu{
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);

}

.mega-menu img{
    max-width: 100%;
}
.mega-menu ul{
    min-width: 300px;
    color: var(--main-color);
    list-style: none;
}
.mega-menu ul li:not(:last-Child){
    border-bottom: 1px solid #e9e6e6;
}
.mega-menu ul li{
    position: relative;
}
.mega-menu ul li::before{
    content: "";
    position: absolute;
    background-color: rgb(250, 250, 250);
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: var(--main-transition);
}
.mega-menu ul li:hover::before{
    width: 100%;
}
.mega-menu ul li a{
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.mega-menu ul li a i{
    margin-right: 10px;
}

@media(max-width: 1200px){
    .mega-menu ul{
        min-width: 250px;
    }
}
@media(max-width: 995px){
    .mega-menu .image{
        display: none;
    }
    .mega-menu ul{
        flex-basis: 100%;
    }
}

@media(max-width: 767px){
    .mega-menu{
        padding: 5px;
        flex-direction: column;
    }
    .mega-menu ul{
        padding: 0px;
        width: 100%;
    }
    .mega-menu ul li{
        width: 100%;
    }
    .mega-menu ul:first-of-type li{
        border-bottom: 1px solid #e9e6e6;
    }
}
/* End of Header */

.landing{
    width: 100%;
    height: calc(100vh - 71px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.landing::before{
    position: absolute;
    content: "";
    top: -70px;
    left: 0;
    width: 100%;
    height: 95%;
    background-color: #ececec;
    transform: skewY(355deg);
    z-index: -23;


}
.landing .container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 220px;
    height: 100%;
}
.landing-content h2{
    font-size: 50px;
    margin-bottom: 20px;
}
.landing-content p{
    font-size: 18px;
    line-height: 1.8em;
}
.landing img{
    width: 600px;
    animation: up-and-down 5s ease-in-out infinite;
}

@keyframes up-and-down {
    0%,
    100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
}
@media(max-width: 990px){
    .landing img{
        display: none;
    }
    .landing-content{
        text-align: center;
        width: 70%;
    }
    .landing-content h2 {
        font-size: 35px;
    }
    .landing-content p{
        font-size: 18px;
        line-height: 1.2;
    }
    .landing .landing-content{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .landing .container{
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}
.go-down-arrow{
    position: absolute;
    bottom: 60px;
    font-size: 30px;
    font-weight: 800;
    color: var(--main-color);
    animation: go-down 1.5s ease-in-out infinite;
}
@keyframes go-down {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40%,
    60% {
        transform: translateY(-15px);
    }
}
/* End of landing */


/* Start of articles */
.articles{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    display: flex;
}
.articles .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles .container .articles-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    width: 100%;
}
.articles .container .articles-content .articles-box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 30%);
    border-radius: 7px;
    overflow: hidden;
    transition: var(--main-transition);
}
.articles-box:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 50%);
}
.articles .container .articles-content .articles-box img{
    width: 100%;
    max-width: 100%;
}
.articles .container .articles-content .articles-box .articles-text{
    width: 100%;
    padding: 20px;
}
.articles .container .articles-content .articles-box h3{
    margin: 0px;
}
.articles .container .articles-content .articles-box p{
    margin: 0;
    margin-top: 10px;
    line-height: 1.5;
    font-weight: 600;
    color: #777;
}
.articles .container .articles-content .articles-box a{
    text-decoration: none;
    color: var(--main-color);
    padding:20px;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    border-top: solid 1px rgb(212, 212, 212);
    position: relative;
}
.articles-box a::before{
    position: absolute;
    font-family: "Font Awesome 6 Free";
    content: "\f30b";
    font-weight: 600;
    right: 20px;
    font-size: 20px;
}
.articles-box:hover a:before{
    animation: link-in-article .5s infinite ease-in-out;
}
@keyframes link-in-article{
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0px);
    }
}
/* End of articles */



/* start of gallery */
.gallery{
    padding: var(--main-padding-top) 0px;
    background-color: #ececec;
}
.gallery-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.gallery-content .gallery-box{
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.795);
    position: relative;
    cursor: pointer;
    background-color: white;
}
.gallery-box .gallery-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.gallery-box .gallery-image img{
    max-width: 100%;
    transition: var(--main-transition);
}
.gallery-box:hover img{
    transform: scale(1.1) rotate(4deg);
}
.gallery-box .gallery-image::before{
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.301);
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
}
.gallery-box:hover .gallery-image::before{
    animation: flashing .4s ease-in-out forwards;
}
@keyframes flashing{
    0%,
    40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
/* End of Gallery */
/* Start of Features */
.features{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.features-content{
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.feat-box{
    padding: 0px;
    text-align: center;
    border: 1px solid #ccc;
    overflow: hidden;
}
.feat-box .feat-image{
    width: 100%;
    position: relative;
}
.feat-box .feat-image::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .6;
}
.feat-box:nth-child(1) .feat-image::before{
    background-color: #f44036;
}
.feat-box:nth-child(2) .feat-image::before{
    background-color: #009688;
}
.feat-box:nth-child(3) .feat-image::before{
    background-color: #03a9f4;
}
.feat-box .feat-image::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}
.feat-box:hover .feat-image::after{
    border-width: 0px 500px 170px 0px;
}
.feat-box img{
    max-width: 100%;
    z-index: -1;
}
.feat-box h3{
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}
.feat-box h3::before{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px)
}
.feat-box:nth-child(1) h3::before{
    background-color: #f44036;
}
.feat-box:nth-child(2) h3::before{
    background-color: #009688;
}
.feat-box:nth-child(3) h3::before{
    background-color: #03a9f4;
}
.feat-box p{
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
}
.feat-box a{
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
    text-decoration: none;
    position: relative;
    
}
.feat-box:nth-child(1) a{
    color: #f44036;
    border-color: #f44036;
}
.feat-box:nth-child(2) a{
    color: #009688;
    border-color: #009688;
}
.feat-box:nth-child(3) a{
    color: #03a9f4;
    border-color: #03a9f4;
}
.feat-box a::before{
    content: "";
    position: absolute;
    width: 0%;
    height: calc(100%);
    background-color: #009688;
    top: -1px;
    left: -1px;
    transition: var(--main-transition);
    z-index: -1;
}
.feat-box:nth-child(1) a::before{
    background-color: #f44036;
}
.feat-box:nth-child(2) a::before{
    background-color: #009688;
}
.feat-box:nth-child(3) a::before{
    background-color: #03a9f4;
}
.feat-box a:hover::before
{
    width: calc(100% + 2px);
}
.feat-box a:hover{
    color: white;
}
/* End of features */


/* Start of Testimonial */
.testimonials{
    background-color: #ececec;
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.testi-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.testi-box{
    background-color: white;
    position: relative;
    padding: 20px;
    border-radius: 6px;
}
.testi-box img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    background-color: #ececec;
    transform: translateY(-50%);
}
.testi-box h3{
    margin: 0px;
}
.testi-box .testi-stars .fa-solid{
    color: #ffc107;
}
.testi-box p:first-of-type{
    font-size: 16px;
    font-weight: 600;
    margin: 8px 0px;
    color: #777;
}
.testi-box p:last-of-type{
    font-size: 16px;
    margin: 0px;
    margin-top: 8px;
    font-weight: 600;
    color: #777;
    line-height: 1.5;
}
/* End of testimonial */

/* Start of Team Members */
.team-members{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.team-m-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.team-box{
    position: relative;
}
.team-box .team-b-info{
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    padding-top: 60px;
}
.team-b-info img{
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition);
}
.team-box:hover img{
    filter: saturate(0);
}
.team-icons a{
    color: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    margin: 20px 0px;
    text-decoration: none;
    font-size: 18px;

}
.team-icons a:hover{
    color: var(--main-color);
}
.team-box::before{
    content: "";
    position: absolute;
    width: calc(100% - 60px);
    height: 100%;
    top: 0;
    right: 0;
    background-color: #ebebeb;
    border-radius: 10px;
    z-index: -2;
}
.team-box::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #d8d8d8;
    border-radius: 10px;
    z-index: -1;
    transition: var(--main-transition);
}
.team-box:hover::after{
    width: calc(100% - 60px);
}
.team-b-des{
    margin-left: 80px;
}
.team-b-des h3{
    color: var(--main-color);
    margin: 0px;
    margin-top: 25px;
}
.team-box:hover h3{
    color: #777;
}
.team-b-des p{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 25px;
}
.team-box{
    cursor: pointer;
}
/* End OF team member */

/* Start of Services */
.services{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: #ececec;
}
.services-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    counter-reset: serv-counter;
}
.serv-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),
                0 2px 4px 0 rgb(0 0 0 / 12%);
    cursor: pointer;
    transition: var(--main-transition);
    position: relative;
}
.serv-box::before{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 3px;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    transition: var(--main-transition);
}
.serv-box:hover{
    transform: translateY(-10px);
}
.serv-box:hover::before{
    width: 100%;
}
.serv-box i{
    font-size: 80px;
    margin: 30px 0px 20px;
    color: #c9c9c9;
    display: block;
}
.serv-box h3{
    color: var(--main-color);
    font-size: 25px;
    display: block;
    margin: 0px 0px 40px;
}
.serv-box a{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    background-color: #f9f9f9;
    color: var(--main-color);
    text-decoration: none;
    position: relative;
    font-weight: 600;
    overflow: hidden;
}
.serv-box a::before{
    content: "0" counter(serv-counter);
    counter-increment: serv-counter;
    position: absolute;
    width: 80px;
    height: 100%;
    color: white;
    background-color: var(--main-color);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    padding-right: 15px;
}
.serv-box a::after{
    width: 50px;
    content: "";
    position: absolute;
    height: calc(100% + 2px);
    bottom: -1px;
    left: 80px;
    background-color: #d5d5d5;
    transform: skewX(-30deg);
}
/* End of services */

/* Start of our skills */
.our-skills{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.our-s-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.our-s-content img{
    border-style: none;
    width: 500px;
}
@media(max-width: 990px){
    .our-s-content img{
        display: none;
    }
}
.our-s-content .skills-bars{
    flex: 1;
}
.skills-bars h3{
    margin: 20px 0px;
}
.skills-bars .the-prog{
    height: 30px;
    background-color: #ececec;
    position: relative;
}
.the-prog span{
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
}
.the-prog:nth-of-type(1) span{
    width: 90%;
}
.the-prog:nth-of-type(2) span{
    width: 85%;
}
.the-prog:nth-of-type(3) span{
    width: 95%;
}
.the-prog:nth-of-type(4) span{
    width: 80%;
}
.the-prog::before{
    position: absolute;
    content: "";
    color: var(--main-color);
    right: 0;
    top: -40px;
    font-weight: 600;
    font-size: 15px;
    border: .5px solid #777;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 2px;
}
.the-prog:nth-of-type(1)::before{
    content: "95%";
}
.the-prog:nth-of-type(2)::before{
    content: "85%";
}
.the-prog:nth-of-type(3)::before{
    content: "95%";
}
.the-prog:nth-of-type(4)::before{
    content: "80%";
}
/* End of our skills */


/* Start of how it work */
.how-it-work{
    padding: var(--main-padding-top) 0px;
    background-color: #ececec;
}
.how-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.how-content .image{
    height: 450px;
    margin-right: 100px;
}
.how-step{
    background-color: #f6f5f5;
    border: solid 2px white;
    margin: 0px 0px 20px;
    display: flex;
    padding: 30px;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.how-step img{
    width: 64px;
    height: 64px;
    margin: 0px 30px 0px 0px;
    z-index: 2;
}
.how-step h3{
    margin: 0px;
    font-size: 22px;
}
.how-step p{
    color: #777;
    line-height: 1.7;
    margin: 10px 0 0;
    font-size: 18px;
}
.how-step::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: #ececec;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--main-transition);
}
.how-step:hover::before{
    width: 100%;
    height: 100%;
}
.how-step-text{
    z-index: 2;
}
@media (max-width: 990px){
    .how-content{
        flex-direction: column;
        align-items: center;
    }
    .how-content .image{
        margin: 0px 0px 50px;
    }
}
@media (max-width: 767px){
    .how-content .image{
        height: 340px;
    }
}
/* End of How it work */


/* Start of Events */
.events{
    padding: var(--main-padding-top) 0px;
    position: relative;
}
.events .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events-content{
    width: 100%;
    display: flex;
    align-items: center;
}
.events-content img{
    width: 450px;
}
.events-time{
    display: flex;
    flex-direction: column;
}
.event-timer{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.event-timer .unite{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 74px;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
}
.unite span:first-child{
    font-size: 35px;
    padding: 15px;
    color: var(--main-color);
    font-weight: bold;
}
.unite span:last-child{
    padding: 8px 10px;
    font-size: 13px;
    border-top: 1px solid #d4d4d4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.events-time h3{
    text-align: center;
    margin: 40px 0 0;
    font-size: 30px;
}
.events-time p{
    text-align: center;
    line-height: 1.7;
    font-size: 19px;
    color: #777;
}
.events form{
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #e9e9e9;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}
.events form input:first-child{
    padding: 20px;
    border-radius: 50px;
    border: none;
    flex: 1;
    caret-color: var(--main-color);
}
.events form input:last-child{
    border-radius: 50px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    transition: var(--main-transition);
}
.events form input:last-child:hover{
    background-color: #0386c3;
}
#dots{
    position: absolute;
    top: 100px;
    right: 0;
    z-index: -1;
}
#dotss{
    position: absolute;
    bottom: 200px;
    left: 0;
    z-index: -1;
}
@media(max-width: 990px){
    .events-content img{
        display: none;
    }
    #dotss{
        bottom: 80px;
    }
}
@media(max-width: 767px){
    #dots,
    #dotss{
        display: none;
    }
    .events-time h3{
        margin-top: 80px;
    }
    .events form{
        border-radius: 0px;
        padding: 15px;
        flex-direction: column;
        width: 80%;
        margin-top: 80px;
    }
    .events form input:first-child{
        border-radius: 0px;
    }
    .events form input:last-child{
        border-radius: 0px;
    }
}
@media(max-width: 450px){
    .events form{
        height: fit-content;
        gap: 5px;
        width: 90%;
    }
    .events form input:first-child{
        padding: 10px;
        margin-bottom: 0px;
    }
    .events form input:last-child{
        padding: 5px;
        margin-top: 5px;
    }
}
/* ENd of lastest event */

/* Start of pricing plans */
.pricing{
    padding: var(--main-padding-top) 0px;
    background-color: #ececec;
    position: relative;
}
.pricing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.pricing-box{
    position: relative;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-transition);
    background: white;
    text-align: center;
    z-index: 1;
}
.pricing-box h3{
    font-size: 25px;
    letter-spacing: -1px;
    margin: 30px auto;
}
.pricing-box img{
    width: 80px;
    margin: 0px auto 30px;
}
.pricing-box span{
    display: block;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
    color: var(--main-color);
    position: relative;
}
.pricing-box:nth-child(1) span:before{
    content: "Per Month";
    position: absolute;
    font-size: 15px;
    color: #777;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}
.pricing-box:nth-child(2) span:before{
    content: "Per Month";
    position: absolute;
    font-size: 15px;
    color: #777;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}
.pricing-box:nth-child(3) span:before{
    content: "Per Month";
    position: absolute;
    font-size: 15px;
    color: #777;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}
.pricing-box ul{
    list-style: none;
    display: block;
    width: 100%;
    padding: 0px;
}
.pricing-box ul li{
    width: 100%;
    display: flex;
    padding: 20px;
    border-top: solid 1px #eee;
    position: relative;
    padding-left: 40px;
}
.pricing-box ul li::before{
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    font-weight: 600;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;    
    font-size: 18px;
    color: var(--main-color);
}
.pricing a{
    display: block;
    width: fit-content;
    background-color: white;
    color: var(--main-color);
    margin: 30px auto 40px;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    border: solid 1px var(--main-color);
    transition: var(--main-transition);
}
.pricing a:hover{
    background-color: #0386c3;
    color: white;
}

.pricing-box:nth-child(2){
    transform: translateY(-20px);
}
.pricing-box::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 50%;
    top: 0;
    left: 0;
    background-color: #f6f6f6;
    transition: var(--main-transition);
    z-index: -1;
}
.pricing-box::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 50%;
    bottom: 0;
    right: 0;
    background-color: #f6f6f6;
    z-index: -1;
    transition: var(--main-transition);
}
.pricing-box:hover::after{
    width: 100%;
}
.pricing-box:hover::before{
    width: 100%;
}


.pricing-box .mostp{
    background-color: var(--main-color);
    width: fit-content;
    padding: 0px;
    display: flex;
    position: absolute;
    transform: rotate(90deg);
    top: 67px;
    right: -30px;
}
.mostp-text{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
.mostp-tri{
    background-color: transparent;
    width: 0px;
    height: 0px;
    border: solid 22.5px;
    border-color: transparent white transparent transparent;
}
#pricing-d{
    position: absolute;
    right: 0;
    top: 200px;
}
#price-d{
    position: absolute;
    left: 0;
    bottom: 50px;
}
@media (max-width: 1200px){
    .pricing-box:nth-child(2){
        transform: translateY(0px);
    }
}
/* End of pricing plans section styling */
/* Start of top videos section styling */
.top-videos{
    padding: var(--main-padding-top) 0px;
}
.top-videos .container .top-videos-c{
    display: flex;
    border: solid 1px #ddd;
}
.video-titles .top{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    font-weight: bold;
}
.video-titles ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.video-titles ul li{
    padding: 20px;
    border-top: 1px solid var(--section-background);
    cursor: pointer;
    transition: var(--main-transition);
    display: flex;
    flex-direction: column;
}
.video-titles ul li:hover{
    background-color: #fafafa;
    color: var(--main-color);
}
.video-titles ul li span{
    margin-top: 15px;
}
.videos-thumnail{
    background-color: #e2e2e2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.videos-thumnail img{
    max-width: 100%;
}
.videos-thumnail .Everything{
    padding: 20px;
    background-color: white;
    margin-top: 10px;
}
@media(max-width: 990px){
    .top-videos-c{
        display: flex;
        flex-direction: column;
    }
}
/* End of top videos section styling */




/* Start Stats */
.stats {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-image: url("../imgs/stats.jpg");
    background-size: cover;
    min-height: 300px;
}
.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
}
.stats h2 {
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
}
.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.stats .box {
    background-color: white;
    padding: 30px 15px;
    text-align: center;
    position: relative;
    opacity: 0.8;
    transition: var(--main-transition);
}
.stats .box::before,
.stats .box::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: var(--main-color);
    transition: 1s;
    height: 0;
}
.stats .box::before {
    top: 0;
    right: 0;
}
.stats .box::after {
    left: 0;
    bottom: 0;
}
.stats .box:hover {
    opacity: 1;
}
.stats .box:hover::before,
.stats .box:hover::after {
    height: 100%;
}
.stats .box .number {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.stats .box .text {
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}
  /* End Stats */
  /* Start Discount */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0px;
}
.discount .image {
    background-image: url(../imgs/discount-background1.jpg);
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-background 10s linear infinite;
}
.discount .image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}
@media (max-width: 991px) {
    .discount .image {
        flex-basis: 100%;
    }
}
.discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}
@media (max-width: 991px) {
    .discount .form {
        flex-basis: 100%;
    }
}
.discount .form .input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
}
.discount .form textarea.input {
    resize: none;
    height: 200px;
}
.discount .form .input:focus {
    outline: none;
}
.discount .form [type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
}
.discount .form [type="submit"]:hover {
    background-color: var(--main-color-alt);
}
.discount .content {
    text-align: center;
    padding: 0 20px;
}
@media(max-width: 990px){
    .discount .content{
        padding-bottom: 30px;
    }
}
.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}
.discount .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}
.discount .content img {
    width: 300px;
    max-width: 100%;
}
@keyframes change-background {
    0%,
    100% {
    background-image: url("../imgs/discount-background1.jpg");
    }
    50% {
    background-image: url("../imgs/discount-background2.jpg");
}
}
  /* End Discount */
  /* Start Footer */
.footer {
    background-color: #191919;
    padding: 70px 0 0;
}
@media (max-width: 767px) {
    .footer {
        text-align: center;
    }
}
.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}
.footer .box .social {
    display: flex;
    list-style: none;
    padding: 0px;
}
.footer .box .social a{
    text-decoration: none;
}
@media (max-width: 767px) {
    .footer .box .social {
        justify-content: center;
    }
}
.footer .box .social li {
    margin-right: 10px;
}
.footer .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
}
.footer .box .social .facebook:hover {
    background-color: #1877f2;
}
.footer .box .social .insta:hover{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}
.footer .box .social .youtube:hover {
    background-color: #ff0000;
}
.footer .box .text {
    line-height: 2;
    color: #b9b9b9;
}
.footer .box .links{
    list-style: none;
}
.footer .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
}

.footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
    padding-left: 10px;
}
.footer .box .links li:hover a {
    color: white;
}
.footer .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
    text-decoration: none;
}
.footer .box .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
@media(max-width:990px){
    .footer .box .links li{
        display: flex;
    }
}
.footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    .footer .box .line {
    flex-direction: column;
    }
}
.footer .box .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}
@media (max-width: 767px) {
    .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
    }
}
.footer .box .line .info {
    line-height: 1.7;
    flex: 1;
}
.footer .box .line .info span {
    display: block;
}
.footer .footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}
.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
  /* End Footer */